// Imports
@import url('http://fonts.cdnfonts.com/css/avenir-lt-std');

// Color Variables
$button: #FFB04B;
$dark-blue: #3EC3D5;
$light-blue: #C3EDF2;
$cash: #41DC65;

// Mixins
@mixin column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.column {@include column}

@mixin row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.row {@include row}

@mixin center {
    margin: auto; 
    padding: auto;
}
.center {@include center}

// General Styling
* {font-family: "Avenir LT Std", sans-serif;}

a {
    color: black;
    text-decoration: none; 
    
    &.linked {
        color: #0075FF; 
        font-size: 0.875rem;
        text-decoration: underline;
    }
}

button {
    background-color: $button;
    border-radius: 5px;
    &.b1 {padding: 0.625rem 5rem;}
    &.b2 {padding: 0.625rem ;}
}

img {height: 100px;}

span {
    color: $cash;
    padding: 0px !important;
}

// Utility Styling
.block {margin: 5vh auto;}
.text-center {text-align: center;}

.heading {
    font-size: 1.5rem;
    font-weight: 800;
}

.sub-heading {
    font-size: 1.25rem;
    font-weight: 800;
}

// Navbar
.logo {
    margin: auto 0;
    font-size: 1.875rem;
    font-weight: 800;
}

.nav {
    @include row;
    * {padding: 1vh;}
}

.login {
    @include center;
    border: 1px;
    border-radius: 0.5em;
    background-color: $button;
}

// Landing Page
.hero {
    @include column;
    background-color: $light-blue;
    padding: 10vh 0;
    h1 {
        @include center;
        margin-bottom: 5vh;
    }
}

.landing * {
    @include column;
    p {
        @include center;
        width: 70vw;
        text-align: center;}
}


// Login Page
