/////////////////////////////////////////////
// IMPORTS
/////////////////////////////////////////////
@import url('http://fonts.cdnfonts.com/css/avenir-lt-std');

/////////////////////////////////////////////
// COLOR VARIABLES
/////////////////////////////////////////////
$button: #FFB04B;
$dark-blue: #3EC3D5;
$light-blue: #C3EDF2;
$cash: #41DC65;
$light-grey: #E7E7E7;

/////////////////////////////////////////////
// MIXINS
/////////////////////////////////////////////
@mixin column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.column {@include column}

@mixin row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.row {@include row}

@mixin center {
    margin: auto; 
    padding: auto;
}
.center {@include center}

@mixin title {
    font-size: 1.875rem;
    font-weight: 800;
}
.title {@include title}

@mixin heading {
    font-size: 1.5rem;
    font-weight: 800;
}
h1 {@include heading}

@mixin sub-heading {
    font-size: 1.25rem;
    font-weight: 800;
}
h2 {@include sub-heading()}

/////////////////////////////////////////////
// UNIVERSAL STYLING
/////////////////////////////////////////////
* {font-family: "Avenir LT Std", sans-serif;}

a {
    color: black;
    text-decoration: none; 
    
    &.linked {
        color: #0075FF; 
        font-size: 0.875rem;
        text-decoration: underline;
    }
}

button {
    background-color: $button;
    border-radius: 5px;
    border: 0px;
    &.b1 {padding: 0.625rem 3.25rem;}
    &.b2 {padding: 0.625rem;}
    &.submit {width: 13.675rem;}
}

span {
    color: $cash;
    padding: 0px !important;
}

/////////////////////////////////////////////
// UTILITY STYLING
/////////////////////////////////////////////
.block {margin-top: 5vh; margin-bottom: 10vh;}
.text-center {text-align: center;}
.hide {display: none;}

/////////////////////////////////////////////
// NAVBAR
/////////////////////////////////////////////


.nav {
    @include row;
    * {padding: 1vh;}
    .logo {margin-left: 0.5rem;}
}

.menu {
    @include center;
    border-radius: 0.5em;
    background-color: $button;
    margin-right: 0.5rem;
    padding: 10px
}

/////////////////////////////////////////////
// LANDING PAGE
/////////////////////////////////////////////
.hero {
    @include column;
    background-color: $light-blue;
    padding: 10vh 0;
    h1 {
        @include center;
        margin-bottom: 5vh;
    }
}

.landing * {
    @include column;
    p {
        @include center;
        @extend .text-center;
        width: 70vw;
        max-width: 560px;
    }
    img {height: 4rem;}
}


/////////////////////////////////////////////
// SIGNUP PAGES
/////////////////////////////////////////////

.form {
    @include column;
    .field {
        display: flex;
        flex-flow: column;
        margin-bottom: 3vh;
        input {
            background: $light-grey;
            border: 0px;
            border-radius: 5px;
            padding: 2vh;
            width: 12rem;
        }
    }
}